.sidebar {
    width: 75vw;
    height: 100vh;
    background: white;
    padding-top: 1em;
}

.sidebar__title {
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 8px;
}

.sidebar__link {
    display: block;
    padding: 0.5em 1em;
    border-top: 1px solid #dedede;
    transition: background 250ms;
}

.sidebar__link:hover {
    background: lightgrey;
}