.banner-sub {
    display: block;
    background: #535353;
}

.banner-sub__inner {
    min-width: 320px;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5em;
    text-align: right;
}

.banner-sub__link {
    display: inline-block;
    font-size: 0.8em;
    padding: 0.4em 0;
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
}

.banner-sub__link:not(:last-child) {
    margin-right: 1.5em;
}

.banner-sub__link:first-of-type {
    margin-left: 0;
}

@media (max-width: 720px) {
    .banner-sub {
        display: none;
    }
}