.banner {
    background: #333;
}

.banner__inner {
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    min-height: 54px;
    margin: 0 auto;
    padding: 0 1.5em;
    align-items: center;
}

.banner__mobile {
    display: none;
    fill: white;
    padding: 0;
    margin: 0;
    line-height: 0;
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: color 250ms;
}

.banner__mobile svg {
    width: 20px;
    height: 20px;
}

.banner__logo {
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    transition: all 250ms;
}

.banner__links {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner__link {
    display: inline-block;
    font-size: 0.8em;
    padding: 1.5em;
    cursor: pointer;
    color: lightgrey;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 250ms;
}

.banner__link--active {
    background: #535353;
    color: #fff;
}

.banner__link--offset {
    margin-right: -1.5em;
}

.banner--search .banner__link {
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    padding: 1.5em 0;
    margin-right: -35px;
    opacity: 0;
}

@media (max-width: 720px) {
    .banner__mobile { display: block; }
    .banner__links { display: none; }
    .banner--search .banner__logo {
        pointer-events: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-right: -35px;
        letter-spacing: -1em;
        opacity: 0;
    }
}
