.banner-search {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.banner-search__input {
    font-size: 14px;
    width: 0;
    max-width: calc(100vw - 8.5em);
    padding: 0;
    border: none;
    background: transparent;
    text-indent: 0.5em;
    margin-right: 0;
    color: white;
    text-shadow: 0 0 0 #666;
    transition: all 250ms;
}

.banner-search__input::-webkit-input-placeholder{
    color: #666;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

.banner-search__icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
    padding: 0;
    border: none;
    cursor: pointer;
    fill: lightgrey;
    background: transparent;
    transition: color 250ms;
}

.banner-search__input:focus,
.banner-search__icon:focus {
    outline: none;
}

.banner-search__clear {
    display: none;
    margin-right: 0.25em;
    margin-bottom: -1px;
}

.banner-search--active .banner-search__input {
    margin-right: 0.5em;
    width: 400px;
}

.banner-search--active .banner-search__clear {
    display: block;
}

.banner-search__results {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    margin-top: 5px;
}
