/**
 * Base styling for react-banner
 * 
 */

.banner {
    background: #333;
}

.banner__inner {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    /*padding: 0.6em 1em;*/
}

.banner__mobile {
    display: flex;
    font-size: 1.5em;
    position: absolute;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: color 250ms;
}

.banner__logo {
    margin: auto;
}

.banner__links {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner__link {
    display: inline-block;
    font-size: 0.8em;
    padding: 1.5em;
    color: lightgrey;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 250ms;
}

.banner__bottom {
    display: block;
    background: #666;
}

.banner__child {
    font-size: 0.8em;
    margin: 0.5em 1em;
    color: whitesmoke;
    text-transform: uppercase;
}

.banner__child:first-of-type {
    margin-left: 0;
}

.banner--search .banner__link {
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    padding: 1.5em 0;
    margin-right: -35px;
    opacity: 0;
}
