/**
 * General styling for the documentation (Site component)
 * 
 */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', 'Helvetica', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site__container {
    width: 960px;
    margin: 0 auto;
    padding: 1.5em;
}

.site__content {
    flex: 1 1 auto;
}

.site__footer {
    flex: 0 0 auto;
}

.site__footer .site__container {
    padding: 1em 1.5em;
    border-top: 1px solid #dedede;
}
